body {
  background-color: rgb(23, 18, 32);
  color:#2c2c2c;
  font: normal 100% Georgia, serif;
  
  }
  .checkbtn{
    display: none;
  }
  #check{
    display: none;
  }
  
  h5{
    font-weight: bold;
    font-size: 20px;
    margin: 20px 15%;
    background-color: rgb(10,300,60);
    padding-left: 3%;
    border-radius: 5%;

  }

  h1 { 
    width: 100%;
    height: 100px;
    font-size: 15px;
    font-style:normal;
    background-color: black;
  }

  #pH, #Humedad, #temperatura{
    font-size: 20px;
    margin: 15px 15%;
    font-weight: bold;
  }

  #Descom, #Microbiana, #Actividad{
    font-size: 18px;
    margin: 15px 15%;
  }
  aside p {
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    position: absolute;
    margin: 15px 0px;
    left: 5%;
  }
  aside ul{
    font-size: 20px;
    color: white;
    padding-top: 2%;
    text-align: end;
  }
  li{
    margin-left: 5px;
  }
  aside a{
    color: white;
  }
  div#container {
    width: 100%px;
    background-color: rgb(10,180,60);
    height: 130px;
  }
  h1 ul a:hover, h1 ul a.active{
    color: rgb(10,180,60);
  }
  nav#navegate ul, li{
    display: inline;
  }
  section#contenido{
    width: 100%;
    height: 720px;
    background-color: mintcream;
    justify-content: center;
    overflow: hidden;
  }
  
  /* Ajuste para Tablet */
	@media screen and (max-width: 726px) {
		aside p{
			left: 2%;
		}
		aside ul{
			padding-top: 3%;
			text-align: end;
		}
		li{
			margin-left: 0%;
		}		
	}

	/* Ajuste para Celular */

	@media screen and (max-width: 550px) {
		.checkbtn{
      display: block;
      font-size: 30px;
        color: #fff;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
    }
    aside p{
			left: 1%;
		}
		aside ul{
      position: absolute;
          width: 200px;
          height: 150px;
          background: #2c3e50;
          top: -28px;
          right: -100%;
          text-align: center;
          transition: all .5s;
      padding: 0px;
    }
    li{
      display: block;
      margin: 5px 0px;
      line-height: 15px;
    }
  
    #check:checked ~ ul{
      right: 0px;
    }

    .Foto,.Foto1,.Foto2,.Foto3,.Foto4,.Foto5,.Foto6,.Foto7{
      height: 200px;
    }
    .Foto:hover,.Foto1:hover,.Foto2:hover,.Foto3:hover,.Foto4:hover,.Foto5:hover,.Foto6:hover,.Foto7:hover{
      height: 200px;
    }
    .Foto3,.Foto4,.Foto5,.Foto7{
      top: 65%;
    }

    .Fondo{
      height: 500px;
      width: 100%;
    }

    section#contenido{
      height: 450px;
    }
	}