body{
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
}

.box{
    width: 120px;
    height: 120px;
    background-color: #f00;
    margin-top: 50px;
    font-size: 60px;
    /* transition-property: all;  POCO UTILIZADO YA Q DEMANDA MUCHO A LA PÁGINA WEB*/
    /* Puedes agrupar todas las propiedades de transition en una sola línea */
    transition: left 1s cubic-bezier(0, 1.33, 1,-0.21) 2s;
    /* Prperty, duración, estilo de animación, delay */
    color: red;
    position: relative;
    left: 0;
}

body:hover .box{
    background-color: blue;
    left: 400px;
}