div{
    padding: 20px;
}

h1::first-letter{
    color: red;
    font-size: 3em;
    letter-spacing: -8px;
}

div::first-line{
    color: red;
    font-weight: bold;
}

div::selection{
    background-color: red;
    color: white;
}

input::placeholder{
    color: green;
    background-color: #000;
}

li::marker{
    color: red;
}

li::before{
    display: block;
    content: 'Elemento: ';
    color: red;
}

li::after{
    content: ' Después';
    color: blue;
}